.Layout {
  background-color: #f4f4f6;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 114px 30px;

  &__page {
    max-width: 1300px;
    width: 100%;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 26px 0 #e1e1e1;
    box-shadow: 0 4px 26px 0 #e1e1e1;
    background-color: #ffffff;
    overflow: hidden;
  }
  &__top {
    padding: 30px 45px;
  }
}


@media screen and (max-width: 767px) {
  .Layout {
    padding: 60px 0 40px;

    &__page {
      border-radius: 0;
    }

    &__top {
      padding: 30px 15px 15px;
    }
  }
}